body {
    display: flex;
    flex-direction: column;
    margin: 0;

}

header {
    background-color: aliceblue;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#content {
    background-color: antiquewhite;
    display: block;
}

#logo {
    margin-left: 5vw;
}

#logo button {
    background: none;
    border: none;
}

#logo button a {
    display: flex;
    margin-top: 1vh;
    text-decoration: none;
    color: black;
}

#logo button a img {
    width: 5vw;
    height: 10vh;
}

#navbar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#navbar a {
    font-size: 1.5vw;
    height: 50%;
    margin: auto;
}

footer {
    background-color: aquamarine;
    height: 16vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

#contacts {
    margin-left: 10vw;
}

#copyright {
    text-align: right;
    font-size: 1.5vw;
    height: 50%;
    margin-top: 5vh;
}